/* This main css file contains the default rules and is geared toward the small/phone view */

* {
    box-sizing: border-box;
    font-family: 'Bitter', serif;
}

footer {
    margin-top: 5%;
}

ul {
    list-style-type: none;
    display: flex;
}

/*Hamburger button*/

.container {
    position: absolute;
    top: 1%;
    right: 2%;
    z-index: 6;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/*------------Header and Nav--------------------*/

.site-icon {
    margin: 1% 1%;
}

.navigation {
    list-style: none;
    padding-left: 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.navigation li {
    display: none;
    padding: 2%;
    white-space: nowrap;
}

.navigation li a {}

.navigation.responsive {
    position: absolute;
    top: 0;
    right: 0;
    width: 75%;
    height: 100%;
}

.navigation.responsive li {
    display: flex;
    background-color: red;
    width: 100%;

}

.navigation.responsive li:hover {}

.navigation.responsive li a {
    text-decoration: none;
}

/*--------------Landing page wordings------------------*/

.landing-page-wrapper {
    text-align: center;
    position: relative;
}

.landing-page-div {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/*--------------Clickit About Us------------------*/

.clickit-about {
    /*Remove once header is finished */
    padding-top: 300px;
    width: 80vw;
    margin: 0 auto;
    text-align: center;
}

.clickit-about h1 {
    font-size: 3em;
    color: #F26522;
}

/*--------------What We Do------------------*/

.what-we-do-container {
    font-family: 'Lato', sans-serif;
    background-color: #244381;
    color: white;
    padding: 1% 1%;
}

#what-we-do-header {
    text-align: center;
    font-size: 3em;
    font-family: 'Bitter', serif;
    padding: 60px 0;
}

.box {
    text-align: center;
    padding: 1% 1%;
}

.box .icon {
    color: #F26522;
}

.box h3 {
    font-size: 1.8em;
}

.box p {
    margin: 0 auto;
}

.box p:last-of-type {
    color: #F26522;
    padding: 20px 0px 40px;
    font-weight: 600;
}


/*--------------Testimonials------------------*/

.testimonials-container {
    text-align: center;
}

.testimonials-container h1 {
    color: #F26522;
    font-size: 3em;
    padding: 60px 0;
}

.testimonial-box .testimonial-para {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    width: 80vw;
    margin: auto;
    padding-bottom: 2%;
    padding-top: 4%;
}

.testimonial-para:first-of-type {
    padding-top: 0;
}

.client-img {
    margin-top: 10px;
    margin-bottom: 25px;
}

.client-img img {
    width: 100px;
    height: 100px;
}

.client-img p {
    padding: 2px;
    margin: 0;
}

/*--------------Some Of Our Clients------------------*/

.clients-box {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.clients-container {
    position: relative;
    background-color: #244381;
    text-align: center;
    color: white;
    padding-bottom: 60px;
    position: relative;
    transform: skewY(-5deg);
    background: #244381;
}

/*.clients-container:before {
    transform: skewY(5deg);
    background-color: red;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -11%;
    left: 0;
    content: '';
    z-index: -12;
    background-color: #244381;
}
*/
.clients-container > div {
    transform: skewY(5deg);
}

.clients-container > h1 {
    transform: skewY(5deg);

}

.clients-container h1 {
    font-size: 3em;
    padding: 60px 30px;
    margin: auto;
}

.clients-container p {
    font-family: 'Lato', sans-serif;
    width: 80vw;
    margin: auto;
}

.clients-container .client-logo img {
    width: 200px;
    padding: 7% 0 3%;
}

/*--------------Contact Form Section------------------*/

/*----- Contact Us info ------*/
.contact-container{
  position:relative;
  width:100%;
  height:100%;
}
.contact-container:before{
  position:absolute;
  content:'';
  height:100%;
  width:100%;
  background-color: #100B61;
  transform:skewY(-5deg);
  top:-12%;
  left:0;
  z-index:-10;
}

.contact-us-container {
    background-color: #100B61;
    margin: 0;
    text-align: left;
    padding-bottom: 20%;
}

.contact-us-box {
    width: 80vw;
    margin: auto;
}

.contact-us-box h1 {
    color: white;
    font-size: 3em;
    padding-top: 20%;
    margin: 0;
}

.contact-info {
    color: #F26522;
}

.media-box {
    width: 30px;
    height: 30px;
    color: white;
    display: inline-block;
    border: 1px solid black;
    background-color: #F26522;
    border-radius: 50%;
    text-align: center;
    padding-top: 6px;
}

/*----- Contact Us form ------*/
.contact-container{
  position:relative;
  width:100%;
  height:100%;
}
.contact-container:before{
  position:absolute;
  content:'';
  height:100%;
  width:100%;
  background-color: #100B61;
  transform:skewY(-5deg);
  top:-12%;
  left:0;
  z-index:-10;
}

.form-container {
    background-color: #100B61;
    padding-bottom: 8%;
}

form {
    width: 80vw;
    margin: auto;
}

form label {
    color: white;
}

form input[type=text] {
    background: inherit;
    border: none;
    border-bottom: 1px solid white;
    display: inline-block;
    margin-bottom: 5px;
    color: #F26522;
    width: inherit;
}

form input:last-of-type {}

form input::placeholder {
    color: rgba(242, 101, 34, 0.8);
}

form textarea {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid white;
    width: inherit;
    color: #F26522;
    margin-top: 10px;
}

form textarea::placeholder {
    color: rgba(242, 101, 34, 0.8);
}

form button[type=submit] {
    width: 100%;
    background-color: #E82F0C;
    padding: 5px;
    margin: 10px auto;
    border-radius: 3px;
    border: none;

}

#homepage-form {
    padding-top: 20%;
}

#homepage-form input {
    margin-bottom: 2%;
}

/*jssor slider loading skin spin css*/

.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#jssor_1 {
    margin-bottom: 5%;
}

@keyframes jssorl-009-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

    /* Only CSS rules that need to be changed to meet the layout needs from MEDIUM to large/wide go in here */
    @media only screen and (min-width: 37.5em) {
        /*--------------Landing Area------------------ */
        .container {
            display: none;
        }
        .navigation li {
            display: flex;
        }
        .header-phone {
            margin: 1% 1%;
            position: absolute;
            right: 0;
            top: 0;
        }
        /*--------------What We Do------------------ */
        .what-we-do-container{
          padding:0 3% 2%;

        }
        .box{
          border: 1px solid white;
          margin:3%;
          background-color: #3B57A6;
          border-radius: 8px;
        }
        .services-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        /*--------------Testimonials--------------------*/
        .testimonial-box{
        display: flex;
        flex-flow: row-reverse nowrap;
        padding: 0 13%;
    }
    .testimonial-box:last-of-type {
        margin-bottom: 10px;
    }
    #reversed-testimonial {
        display: flex;
        flex-flow: row nowrap;
    }
    .client-img p {
        margin: 0;
        padding: 0;
    }
    .testimonial-box p:first-child {
        margin-top: 10px;
    }
    .testimonial-box p:last-child {
        margin-bottom: 20px;
    }
    .testimonial-para {
        width: 98%;
        padding-left: 2%;
    }
    #reversed-testimonial .testimonial-para {
        width: 98%;
        padding-right: 2%;
    }
    /*--------------Some of our clients--------------------*/
    .client-box-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: flex-start;
        padding: 0 4%;
    }
    .client-box p {
        width: 100%;
        font-size: 0.9em;
        padding: 5%;
    }
    /*--------------Contact--------------------*/
    .contact-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        width: 100%;
        align-items: center;
        height: 100vh;
    }
    .contact-us-container {
        width: 90%;
        padding-left: 5%;
        height: 100vh;
    }
    .contact-us-box {
        width: 100%;
        margin: auto;
    }
    .form-container {
        width: 100%;
        height: 100%;
    }
    form {
        width: 95%;
        margin: auto;
        height: 100vh;
        padding-top: 20%;
    }
    form button[type=submit]{
      width:95%;
    }

}


/* Only CSS rules that need to be changed to meet the LARGE layout go in here */

@media only screen and (min-width: 64em) {
    header {
        display: flex !important;
        justify-content: space-between;
    }

}
